# Basics

In [1]:
# Case Sensitivity
name="Vinay"
Name="Vinay"

print(name)
print(Name)

Vinay
Vinay

In [2]:
# Indentation
age=12
if age>=18:
    print("You are a Major and is eligible to vote in the election")
else:
    print("You are Minor and is not eligible to vote in the election")

You are Minor and is not eligible to vote in the election

In [3]:
# Line Continuation
1+2+3+\
4

10

In [4]:
# Multiple Statements in a Single Line
x=1;y=10;z=5
print(x+y+z)

16

In [5]:
# Semantics
name="Vinay"
age=31
height=5.11

print(type(name))
print(type(age))
print(type(height))

<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
# Type Inference
variable=9
print(variable)

variable="Vinay"
print(variable)

9
Vinay

In [7]:
# Name Error
#a=b

In [8]:
# Indentation Example
if True:
    print("Condition Satisfied")
    if False:
        print("Condition Not Satisfied")
    else:
        print("This Will Print")
print("Ouside if Block")

Condition Satisfied
This Will Print
Ouside if Block

# Variables

In [9]:
a=100
print(a)

100

In [10]:
# Declaring Variables, Assign Values and Print
name="Vinay"
age=31
height=5.11

print("Name :",name)
print("Age :",age)
print("Height :",height)

Name : Vinay
Age : 31
Height : 5.11

In [11]:
# Naming Conventions
# Valid Variable Names
first_name="Vinay"
_middle_name="Babu"
last_name_1="Gorantla"

print("Full Name :", first_name+_middle_name+last_name_1)

Full Name : VinayBabuGorantla

In [12]:
# Invalid Variable Names
#1name="Vinay"
#middle-name="Babu"
#@last_name="Gorantla"

In [13]:
# Case Sensitivity
name="Vinay"
Name="Babu"

print(name)
print(Name)

Vinay
Babu

In [14]:
# Understand Variable Types
name="Vinay" # str
age=31 # int
height=5.11 # float

print("Name",name,type(name))
print("Age",age, type(age))
print("Height",height,type(height))

Name Vinay <class 'str'>
Age 31 <class 'int'>
Height 5.11 <class 'float'>

In [15]:
# Type Checking and Conversion
print(age,type(age))
print(age,type(float(age)))
print(age,type(str(age)))

31 <class 'int'>
31 <class 'float'>
31 <class 'str'>

In [16]:
#print(type(int(name)))

In [17]:
# Dynamic Typing
var=10 # int
print(var,type(var))

var=11.9 # float
print(var,type(var))

var="Vinay" # str
print(var,type(var))

10 <class 'int'>
11.9 <class 'float'>
Vinay <class 'str'>

In [18]:
# User Input
age=int(input("Enter Your Age"))
print("Age :",age)

Age : 34

# Datatypes

In [19]:
# Integer Datatype
a=10
print(a,type(a))

10 <class 'int'>

In [20]:
# Float
b=11.5
print(b,type(b))

11.5 <class 'float'>

In [21]:
name="Vinay Babu Gorantla"
print(name,type(name))

Vinay Babu Gorantla <class 'str'>

In [22]:
is_true=True
print(is_true,type(is_true))

True <class 'bool'>

# Operators

In [23]:
# Arithematic Operators
a=10;b=11

addition=a+b
substarction=a-b
multiprication=a*b
division=a/b
floor_division=a//b
modulus_operation=a%b
exponent=a**b

print("Addition Result :",addition)
print("SubstractionResult :",substarction)
print("Multiplication Result :",multiprication)
print("Division Result",division)
print("Floor Division Result :",floor_division)
print("Modulus Operation Result :",modulus_operation)
print("Exponent Result :",exponent)

Addition Result : 21
SubstractionResult : -1
Multiplication Result : 110
Division Result 0.9090909090909091
Floor Division Result : 0
Modulus Operation Result : 10
Exponent Result : 100000000000

In [24]:
10%11

10

In [25]:
10//11

0

In [26]:
# Comparision Operators
# Equal To
a=10;b=10
a==b

True

In [27]:
str1="Vinay"
str2="vinay"
str1==str2

False

In [28]:
# Not Equal To
str1!=str2

True

In [29]:
# Greater Than
a>b

False

In [30]:
# Less Than
a<b

False

In [31]:
# Greater Than or Equal To
a>=b

True

In [32]:
# Less Than or Equal To
a<=b

True

In [33]:
# Logical Operators
x=True
y=False

print(x and y)
print(x or y)
print(not y)

False
True
True

# Conditional Statements

In [34]:
# if,elif and else Statements
age=17
if age>=18:
    print("You are Major and is eligible to vote in the 2024 General ELections")
else:
    print("You are Minor and is not eligible to vote in 2024 General Elections")

You are Minor and is not eligible to vote in 2024 General Elections

In [35]:
age=20
if age>=13 and age<=19:
    print("You are a Teenager")
elif age>=20:
    print("You are an Adult")
else:
    print("You are Child")

You are an Adult

In [36]:
# Nested Conditional Statements
num=int(input("Enter a number :"))
if num>0:
    print("Positive Number")
    if num%2==0:
        print("The number is Even")
    else:
        print("The number is Odd")
elif num<0:
    print("Negative Number")
    if num%2==0:
        print("The number is Even")
    else:
        print("The number is Odd")
else:
    print("The number is Zero")

Positive Number
The number is Odd

In [37]:
# Loops
# For Loop
range(5)

range(0, 5)

In [38]:
for i in range(5):
    print(i)

0
1
2
3
4

In [39]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [40]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [41]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [42]:
for i in range(1,10,-1):
    print(i)

In [43]:
for i in range(1,10,-2):
    print(i)

In [44]:
string="Vinay Gorantla"
for i in string:
    print(i)

V
i
n
a
y

G
o
r
a
n
t
l
a

In [45]:
# While Loop
count=0
while count<=5:
    print(count)
    count=count+1

0
1
2
3
4
5

In [46]:
# Loop Control Statements
# break
for i in range(10):
    print(i)
    if i==8:
        break

0
1
2
3
4
5
6
7
8

In [47]:
# continue
for i in range(10):
    if i%2!=0:
        continue
    print(i)

0
2
4
6
8

In [48]:
# pass
for i in range(5):
    if i==2:
        print("Condition Passed")
        pass
    print(i)

0
1
Condition Passed
2
3
4

In [49]:
# Nested Loops
for i in range(5):
    for j in range(3):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:3 and j:0
i:3 and j:1
i:3 and j:2
i:4 and j:0
i:4 and j:1
i:4 and j:2

# Data Structures
## Lists

In [50]:
lst=[]
print(type(lst))

<class 'list'>

In [51]:
lst=["Vinay",31,5.11,98]
print(lst,type(lst))

['Vinay', 31, 5.11, 98] <class 'list'>

In [52]:
# Accessing List Elements
fruits=["Apple","Banana","Cherry","Dragon Fruit","Mango"]
print(fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Mango']

In [53]:
fruits[1]

'Banana'

In [54]:
fruits[1:]

['Banana', 'Cherry', 'Dragon Fruit', 'Mango']

In [55]:
fruits[:3]

['Apple', 'Banana', 'Cherry']

In [56]:
fruits[4]="Watermelon"
print(fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon']

In [57]:
fruits.append("Orange")
print(fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon', 'Orange']

In [58]:
fruits.insert(5,"Melon")
print(fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon', 'Melon', 'Orange']

In [59]:
fruits.remove("Melon")
print(fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon', 'Orange']

In [60]:
popper_fruits=fruits.pop()
print(fruits)
print(popper_fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon']
Orange

In [61]:
index=fruits.index("Cherry")
print(index)
print(fruits)

2
['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon']

In [62]:
fruits.sort()
print(fruits)

fruits.reverse()
print(fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon']
['Watermelon', 'Dragon Fruit', 'Cherry', 'Banana', 'Apple']

In [63]:
fruits.clear()
print(fruits)

[]

In [64]:
numbers=[1,2,3,4,5,6,7,8,9]
print(numbers)
print(numbers[1:4])
print(numbers[4:])
print(numbers[:7])
print(numbers[::5])
print(numbers[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]
[5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7]
[1, 6]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [65]:
# Iterating Over List
for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9

In [66]:
for index,num in enumerate(numbers):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

## List Comprehension

In [68]:
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
# Basic
square=[x**2 for x in range(20)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [74]:
# With Conditional Logic
lst=[]
for i in range(20):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [76]:
lst = [i for i in range(20) if i % 2 == 0]
print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [77]:
lst1=[1,2,3,4]
lst2=["a","b","c","d"]

pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [78]:
# List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths=[len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

## Tuples

In [79]:
empty_tuple=tuple()
print(empty_tuple,type(empty_tuple))

() <class 'tuple'>

In [81]:
lst=list()
print(lst,type(lst))

tple=tuple()
print(tple,type(tple))

[] <class 'list'>
() <class 'tuple'>

In [82]:
numbers=tuple([1,2,3,4,5,6,7,8,9])
print(numbers,type(numbers))

(1, 2, 3, 4, 5, 6, 7, 8, 9) <class 'tuple'>

In [83]:
list((1,2,3))

[1, 2, 3]

In [84]:
mixed_tuple=("Vinay",31,5.11)
print(mixed_tuple)

('Vinay', 31, 5.11)

In [86]:
# Accessing Tuple Elements
print(numbers[0:4])
print(numbers[:2])
print(numbers[2:])
print(numbers[::5])
print(numbers[::-2])

(1, 2, 3, 4)
(1, 2)
(3, 4, 5, 6, 7, 8, 9)
(1, 6)
(9, 7, 5, 3, 1)

In [87]:
# Tuple Operations
concat_tuple=mixed_tuple+numbers
print(concat_tuple)

('Vinay', 31, 5.11, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [88]:
print(mixed_tuple*3)
print(numbers*2)
print(concat_tuple*4)

('Vinay', 31, 5.11, 'Vinay', 31, 5.11, 'Vinay', 31, 5.11)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)
('Vinay', 31, 5.11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Vinay', 31, 5.11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Vinay', 31, 5.11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Vinay', 31, 5.11, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [102]:
# Immutable Nature of Tuples
# numbers[9]=10
# print(numbers)

In [90]:
# Tuple Methods
print(numbers.count(1))
print(numbers.index(9))

1
8

In [91]:
# Packing and Unpacking Tuples
packed_tuple="Vinay",31,5.11
print(packed_tuple)

('Vinay', 31, 5.11)

In [93]:
name,age,height=packed_tuple
print(name)
print(age)
print(height)

Vinay
31
5.11

In [94]:
# Unpacking with *
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8]
9

In [96]:
# Nested Tuples
lst=[[1,2,3],[4,5,6],[7,8,9]]
print(lst)
print(lst[1])
print(lst[1:])
print(lst[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[4, 5, 6]
[[4, 5, 6], [7, 8, 9]]
6

In [98]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
print(nested_tuple,type(nested_tuple))

((1, 2, 3), ('a', 'b', 'c'), (True, False)) <class 'tuple'>

In [101]:
# Iterating Over Nested Tuples
for i in nested_tuple:
    for j in i:
        print(j,end=" ")
    print()

1 2 3
a b c
True False

## Sets

In [103]:
my_set={1,2,3,4}
print(my_set,type(my_set))

{1, 2, 3, 4} <class 'set'>

In [105]:
empty_set=set()
print(empty_set)

set()

In [106]:
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [107]:
my_set.remove(5)
print(my_set)

{1, 2, 3, 4}

In [109]:
#my_set.remove(8)

In [110]:
my_set.discard(9)

In [111]:
# pop
popped_set=my_set.pop()
print(popped_set)
print(my_set)

1
{2, 3, 4}

In [113]:
# clear
my_set.clear()
print(my_set)

set()

In [114]:
my_set={1,2,3,4,5,6,7}
print(4 in my_set)
print(9 in my_set)

True
False

In [117]:
# Mathematical Operation
set1={1,2,3,4,5}
set2={4,5,6,7,8,9}

#Union Operation
union=set1.union(set2)
print(union)

# Intersection Operation
intersection=set1.intersection(set2)
print(intersection)

# Difference
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5}
{1, 2, 3}

In [121]:
# Set Methods
set1={1,2,3,4,5}
set2={3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [119]:
lst = [1, 2, 3, 4, 5]
set1 = set(lst)
print(set1)

{1, 2, 3, 4, 5}

In [118]:
# Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

# convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'In', 'discussing', 'tutorial', 'this', 'about', 'sets', 'we', 'are'}
8

## Dictionaries

In [125]:
empty_dict={}
print(empty_dict,type(empty_dict))

{} <class 'dict'>

In [131]:
student={"Name":"Vinay Babu Gorantla","Age":31,"Height":5.11,"Grade":"A"}
print(student,type(student))

{'Name': 'Vinay Babu Gorantla', 'Age': 31, 'Height': 5.11, 'Grade': 'A'} <class 'dict'>

In [132]:
# Accessing Dictionary Elements
print(student["Height"])
print(student["Name"])

5.11
Vinay Babu Gorantla

In [133]:
# Access Dictionary Elements Using get() Method
print(student.get("Name"))
print(student.get("Height"))
print(student.get("Last_Name"))
print(student.get("Last_Name","Unavailable"))

Vinay Babu Gorantla
5.11
None
Unavailable

In [136]:
student["Age"]=32
student["Grade"]="B"
print(student)

{'Name': 'Vinay Babu Gorantla', 'Age': 32, 'Height': 5.11, 'Grade': 'B'}

In [137]:
del student["Grade"]
print(student)

{'Name': 'Vinay Babu Gorantla', 'Age': 32, 'Height': 5.11}