# Basics

In [19]:
# Case Sensitivity
name="Vinay"
Name="Vinay"

print(name)
print(Name)

Vinay
Vinay

In [20]:
# Indentation
age=12
if age>=18:
    print("You are a Major and is eligible to vote in the election")
else:
    print("You are Minor and is not eligible to vote in the election")

You are Minor and is not eligible to vote in the election

In [21]:
# Line Continuation
1+2+3+\
4

10

In [22]:
# Multiple Statements in a Single Line
x=1;y=10;z=5
print(x+y+z)

16

In [23]:
# Semantics
name="Vinay"
age=31
height=5.11

print(type(name))
print(type(age))
print(type(height))

<class 'str'>
<class 'int'>
<class 'float'>

In [24]:
# Type Inference
variable=9
print(variable)

variable="Vinay"
print(variable)

9
Vinay

In [25]:
# Name Error
#a=b

In [26]:
# Indentation Example
if True:
    print("Condition Satisfied")
    if False:
        print("Condition Not Satisfied")
    else:
        print("This Will Print")
print("Ouside if Block")

Condition Satisfied
This Will Print
Ouside if Block

# Variables

In [27]:
a=100
print(a)

100

In [28]:
# Declaring Variables, Assign Values and Print
name="Vinay"
age=31
height=5.11

print("Name :",name)
print("Age :",age)
print("Height :",height)

Name : Vinay
Age : 31
Height : 5.11

In [29]:
# Naming Conventions
# Valid Variable Names
first_name="Vinay"
_middle_name="Babu"
last_name_1="Gorantla"

print("Full Name :", first_name+_middle_name+last_name_1)

Full Name : VinayBabuGorantla

In [30]:
# Invalid Variable Names
#1name="Vinay"
#middle-name="Babu"
#@last_name="Gorantla"

In [31]:
# Case Sensitivity
name="Vinay"
Name="Babu"

print(name)
print(Name)

Vinay
Babu

In [32]:
# Understand Variable Types
name="Vinay" # str
age=31 # int
height=5.11 # float

print("Name",name,type(name))
print("Age",age, type(age))
print("Height",height,type(height))

Name Vinay <class 'str'>
Age 31 <class 'int'>
Height 5.11 <class 'float'>

In [33]:
# Type Checking and Conversion
print(age,type(age))
print(age,type(float(age)))
print(age,type(str(age)))

31 <class 'int'>
31 <class 'float'>
31 <class 'str'>

In [34]:
#print(type(int(name)))

In [35]:
# Dynamic Typing
var=10 # int
print(var,type(var))

var=11.9 # float
print(var,type(var))

var="Vinay" # str
print(var,type(var))

10 <class 'int'>
11.9 <class 'float'>
Vinay <class 'str'>

In [36]:
# User Input
age=int(input("Enter Your Age"))
print("Age :",age)

Age : 21

# Datatypes

In [37]:
# Integer Datatype
a=10
print(a,type(a))

10 <class 'int'>

In [38]:
# Float
b=11.5
print(b,type(b))

11.5 <class 'float'>

In [39]:
name="Vinay Babu Gorantla"
print(name,type(name))

Vinay Babu Gorantla <class 'str'>

In [40]:
is_true=True
print(is_true,type(is_true))

True <class 'bool'>

# Operators

In [41]:
# Arithematic Operators
a=10;b=11

addition=a+b
substarction=a-b
multiprication=a*b
division=a/b
floor_division=a//b
modulus_operation=a%b
exponent=a**b

print("Addition Result :",addition)
print("SubstractionResult :",substarction)
print("Multiplication Result :",multiprication)
print("Division Result",division)
print("Floor Division Result :",floor_division)
print("Modulus Operation Result :",modulus_operation)
print("Exponent Result :",exponent)

Addition Result : 21
SubstractionResult : -1
Multiplication Result : 110
Division Result 0.9090909090909091
Floor Division Result : 0
Modulus Operation Result : 10
Exponent Result : 100000000000

In [42]:
10%11

10

In [43]:
10//11

0

In [44]:
# Comparision Operators
# Equal To
a=10;b=10
a==b

True

In [45]:
str1="Vinay"
str2="vinay"
str1==str2

False

In [46]:
# Not Equal To
str1!=str2

True

In [47]:
# Greater Than
a>b

False

In [48]:
# Less Than
a<b

False

In [49]:
# Greater Than or Equal To
a>=b

True

In [50]:
# Less Than or Equal To
a<=b

True

In [51]:
# Logical Operators
x=True
y=False

print(x and y)
print(x or y)
print(not y)

False
True
True

# Conditional Statements

In [52]:
# if,elif and else Statements
age=17
if age>=18:
    print("You are Major and is eligible to vote in the 2024 General ELections")
else:
    print("You are Minor and is not eligible to vote in 2024 General Elections")

You are Minor and is not eligible to vote in 2024 General Elections

In [53]:
age=20
if age>=13 and age<=19:
    print("You are a Teenager")
elif age>=20:
    print("You are an Adult")
else:
    print("You are Child")

You are an Adult

In [54]:
# Nested Conditional Statements
num=int(input("Enter a number :"))
if num>0:
    print("Positive Number")
    if num%2==0:
        print("The number is Even")
    else:
        print("The number is Odd")
elif num<0:
    print("Negative Number")
    if num%2==0:
        print("The number is Even")
    else:
        print("The number is Odd")
else:
    print("The number is Zero")

Positive Number
The number is Even

In [55]:
# Loops
# For Loop
range(5)

range(0, 5)

In [56]:
for i in range(5):
    print(i)

0
1
2
3
4

In [57]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [58]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [59]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [60]:
for i in range(1,10,-1):
    print(i)

In [61]:
for i in range(1,10,-2):
    print(i)

In [62]:
string="Vinay Gorantla"
for i in string:
    print(i)

V
i
n
a
y

G
o
r
a
n
t
l
a

In [63]:
# While Loop
count=0
while count<=5:
    print(count)
    count=count+1

0
1
2
3
4
5

In [64]:
# Loop Control Statements
# break
for i in range(10):
    print(i)
    if i==8:
        break

0
1
2
3
4
5
6
7
8

In [65]:
# continue
for i in range(10):
    if i%2!=0:
        continue
    print(i)

0
2
4
6
8

In [66]:
# pass
for i in range(5):
    if i==2:
        print("Condition Passed")
        pass
    print(i)

0
1
Condition Passed
2
3
4

In [67]:
# Nested Loops
for i in range(5):
    for j in range(3):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:3 and j:0
i:3 and j:1
i:3 and j:2
i:4 and j:0
i:4 and j:1
i:4 and j:2

# Data Structures
## Lists

In [68]:
lst=[]
print(type(lst))

<class 'list'>

In [69]:
lst=["Vinay",31,5.11,98]
print(lst,type(lst))

['Vinay', 31, 5.11, 98] <class 'list'>

In [70]:
# Accessing List Elements
fruits=["Apple","Banana","Cherry","Dragon Fruit","Mango"]
print(fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Mango']

In [71]:
fruits[1]

'Banana'

In [72]:
fruits[1:]

['Banana', 'Cherry', 'Dragon Fruit', 'Mango']

In [73]:
fruits[:3]

['Apple', 'Banana', 'Cherry']

In [74]:
fruits[4]="Watermelon"
print(fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon']

In [75]:
fruits.append("Orange")
print(fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon', 'Orange']

In [76]:
fruits.insert(5,"Melon")
print(fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon', 'Melon', 'Orange']

In [77]:
fruits.remove("Melon")
print(fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon', 'Orange']

In [78]:
popper_fruits=fruits.pop()
print(fruits)
print(popper_fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon']
Orange

In [79]:
index=fruits.index("Cherry")
print(index)
print(fruits)

2
['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon']

In [80]:
fruits.sort()
print(fruits)

fruits.reverse()
print(fruits)

['Apple', 'Banana', 'Cherry', 'Dragon Fruit', 'Watermelon']
['Watermelon', 'Dragon Fruit', 'Cherry', 'Banana', 'Apple']

In [81]:
fruits.clear()
print(fruits)

[]

In [82]:
numbers=[1,2,3,4,5,6,7,8,9]
print(numbers)
print(numbers[1:4])
print(numbers[4:])
print(numbers[:7])
print(numbers[::5])
print(numbers[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]
[5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7]
[1, 6]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [83]:
# Iterating Over List
for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9

In [84]:
for index,num in enumerate(numbers):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

## List Comprehension

In [85]:
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
# Basic
square=[x**2 for x in range(20)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [87]:
# With Conditional Logic
lst=[]
for i in range(20):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [88]:
lst = [i for i in range(20) if i % 2 == 0]
print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [89]:
lst1=[1,2,3,4]
lst2=["a","b","c","d"]

pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [90]:
# List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths=[len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

## Tuples

In [91]:
empty_tuple=tuple()
print(empty_tuple,type(empty_tuple))

() <class 'tuple'>

In [92]:
lst=list()
print(lst,type(lst))

tple=tuple()
print(tple,type(tple))

[] <class 'list'>
() <class 'tuple'>

In [93]:
numbers=tuple([1,2,3,4,5,6,7,8,9])
print(numbers,type(numbers))

(1, 2, 3, 4, 5, 6, 7, 8, 9) <class 'tuple'>

In [94]:
list((1,2,3))

[1, 2, 3]

In [95]:
mixed_tuple=("Vinay",31,5.11)
print(mixed_tuple)

('Vinay', 31, 5.11)

In [96]:
# Accessing Tuple Elements
print(numbers[0:4])
print(numbers[:2])
print(numbers[2:])
print(numbers[::5])
print(numbers[::-2])

(1, 2, 3, 4)
(1, 2)
(3, 4, 5, 6, 7, 8, 9)
(1, 6)
(9, 7, 5, 3, 1)

In [97]:
# Tuple Operations
concat_tuple=mixed_tuple+numbers
print(concat_tuple)

('Vinay', 31, 5.11, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [98]:
print(mixed_tuple*3)
print(numbers*2)
print(concat_tuple*4)

('Vinay', 31, 5.11, 'Vinay', 31, 5.11, 'Vinay', 31, 5.11)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)
('Vinay', 31, 5.11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Vinay', 31, 5.11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Vinay', 31, 5.11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Vinay', 31, 5.11, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [99]:
# Immutable Nature of Tuples
# numbers[9]=10
# print(numbers)

In [100]:
# Tuple Methods
print(numbers.count(1))
print(numbers.index(9))

1
8

In [101]:
# Packing and Unpacking Tuples
packed_tuple="Vinay",31,5.11
print(packed_tuple)

('Vinay', 31, 5.11)

In [102]:
name,age,height=packed_tuple
print(name)
print(age)
print(height)

Vinay
31
5.11

In [103]:
# Unpacking with *
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8]
9

In [104]:
# Nested Tuples
lst=[[1,2,3],[4,5,6],[7,8,9]]
print(lst)
print(lst[1])
print(lst[1:])
print(lst[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[4, 5, 6]
[[4, 5, 6], [7, 8, 9]]
6

In [105]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
print(nested_tuple,type(nested_tuple))

((1, 2, 3), ('a', 'b', 'c'), (True, False)) <class 'tuple'>

In [106]:
# Iterating Over Nested Tuples
for i in nested_tuple:
    for j in i:
        print(j,end=" ")
    print()

1 2 3
a b c
True False

## Sets

In [107]:
my_set={1,2,3,4}
print(my_set,type(my_set))

{1, 2, 3, 4} <class 'set'>

In [108]:
empty_set=set()
print(empty_set)

set()

In [109]:
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [110]:
my_set.remove(5)
print(my_set)

{1, 2, 3, 4}

In [111]:
#my_set.remove(8)

In [112]:
my_set.discard(9)

In [113]:
# pop
popped_set=my_set.pop()
print(popped_set)
print(my_set)

1
{2, 3, 4}

In [114]:
# clear
my_set.clear()
print(my_set)

set()

In [115]:
my_set={1,2,3,4,5,6,7}
print(4 in my_set)
print(9 in my_set)

True
False

In [116]:
# Mathematical Operation
set1={1,2,3,4,5}
set2={4,5,6,7,8,9}

#Union Operation
union=set1.union(set2)
print(union)

# Intersection Operation
intersection=set1.intersection(set2)
print(intersection)

# Difference
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5}
{1, 2, 3}

In [117]:
# Set Methods
set1={1,2,3,4,5}
set2={3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [118]:
lst = [1, 2, 3, 4, 5]
set1 = set(lst)
print(set1)

{1, 2, 3, 4, 5}

In [119]:
# Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

# convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'tutorial', 'discussing', 'about', 'we', 'are', 'sets', 'this', 'In'}
8

## Dictionaries

In [120]:
empty_dict={}
print(empty_dict,type(empty_dict))

{} <class 'dict'>

In [121]:
student={"Name":"Vinay Babu Gorantla","Age":31,"Height":5.11,"Grade":"A"}
print(student,type(student))

{'Name': 'Vinay Babu Gorantla', 'Age': 31, 'Height': 5.11, 'Grade': 'A'} <class 'dict'>

In [122]:
# Accessing Dictionary Elements
print(student["Height"])
print(student["Name"])

5.11
Vinay Babu Gorantla

In [123]:
# Access Dictionary Elements Using get() Method
print(student.get("Name"))
print(student.get("Height"))
print(student.get("Last_Name"))
print(student.get("Last_Name","Unavailable"))

Vinay Babu Gorantla
5.11
None
Unavailable

In [124]:
student["Age"]=32
student["Grade"]="B"
print(student)

{'Name': 'Vinay Babu Gorantla', 'Age': 32, 'Height': 5.11, 'Grade': 'B'}

In [125]:
del student["Grade"]
print(student)

{'Name': 'Vinay Babu Gorantla', 'Age': 32, 'Height': 5.11}

### OOPS Concepts with CLasses and Objects

In [126]:
class Car:
    pass

audi=Car()
bmw=Car()

print(type(audi))

<class '__main__.Car'>

In [127]:
print(audi)

<__main__.Car object at 0x0000018C9183F8F0>

In [128]:
print(bmw)

<__main__.Car object at 0x0000018C9183D730>

#### Instance Variables and Methods

In [130]:
audi.windows=4
print(audi.windows)

4

In [131]:
tata=Car()
tata.doors=5
print(tata.windows)

AttributeError: 'Car' object has no attribute 'windows'

### Instance Variables and Methods

In [133]:
dir(tata)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'doors']

#### Define Class with Instance Variables

In [139]:
class Dog:
    # COnstructor
    def __init__(self,name,age): # Attributes
        self.name=name # Instance Variables
        self.age=age # Instance Variables

# Create Class Object
dog1=Dog('Jimmy',4)
dog2=Dog('Lucy',1)

In [140]:
print(dog1.name,dog1.age)
print(dog2.name,dog2.age)

Jimmy 4
Lucy 1

#### Define Class with Instance Methods

In [145]:
class Dog:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
    def bark(self):
        print(f"{self.name} says Bhoo")
        
dog1=Dog('Buddy',3)
dog1.bark()
dog2=Dog('Lucy',4)
dog2.bark()

Buddy says Bhoo
Lucy says Bhoo

#### Modelling a Bank Account

In [148]:
# Class for Bank Account
class BankAccount:
    def __init__(self,owner,balance=0): # Constructor
        self.owner=owner # Instance Variable
        self.balance=balance # Instance Variable
        
    def deposit(self,amount): # Instance Method
        self.balance+=amount
        print(f"{amount} is deposited. New balance is {self.balance}")
    
    def withdraw(self,amount): # Instance Method
        if amount>self.balance:
            print("Insufficient FUnds")
        else:
            self.balance-=amount
            print(f"{amount} is withdrawn. New balance is {self.balance}")
    
    def get_balance(self): # Instance Method
        return self.balance

# Create Object
account=BankAccount("Vinay",10000)
print(account.balance)

10000

In [149]:
account.withdraw(9000)
print(account.get_balance())

9000 is withdrawn. New balance is 1000
1000

# Inheritance

In [159]:
# Single Inheritance
class Car: # Parent Class
    def __init__(self,doors,enginetype): # Constructor
        self.doors=doors # Instance Variable
        self.enginetype=enginetype # Instance Variable
    
    def drive(self): # Instance Method
        print(f"The persor will drive {self.enginetype} car.")

In [160]:
car1=Car(5,'Petrol')
car1.drive()

The persor will drive Petrol car.

In [161]:
car2=Car(3,'Diesel')
car2.drive()

The persor will drive Diesel car.

In [164]:
class Tesla(Car): # Child Class
    def __init__(self,doors,enginetype,is_selfdrive):
        super().__init__(doors,enginetype)
        self.is_selfdrive=is_selfdrive
    
    def self_drive(self):
        print(f"Tesla supports self driving : {self.is_selfdrive}")

In [165]:
tesla1=Tesla(5,"Electric",True)
tesla1.self_drive()

Tesla supports self driving : True

In [166]:
tesla1.drive()

The persor will drive Electric car.

In [168]:
# Multiple Inheritance
# Base Class 1
class Animal:
    def __init__(self,name):
        self.name=name
    
    def speak(self):
        print("Subclass must implement this method")

# Base Class 2
class Pet:
    def __init__(self,owner):
        self.owner=owner

# Derived Class
class Dog(Animal,Pet):
    def __init__(self,name,owner):
        Animal.__init__(self,name)
        Pet.__init__(self,owner)
    
    def speak(self):
        return f"{self.name} says bhoo"
    
dog=Dog("Buddy","Vinay")
print(dog.speak())
print(f"Owner: {dog.owner}")

Buddy says bhoo
Owner: Vinay

# Polymorphism

In [170]:
# Method Overriding
# Base Class
class Animal:
    def speak():
        return "Sound of the animal"

# Derived Class 1
class Dog(Animal):
    def speak(self):
        return "Bhoo!"

# Derived Class 2
class Cat(Animal):
    def speak(self):
        return "Meow!"

# Function that demonstrates polymorphism
def animal_speak(animal):
    print(animal.speak())

dog=Dog()
cat=Cat()
print(dog.speak())
print(cat.speak())
animal_speak(dog)

Bhoo!
Meow!
Bhoo!

In [172]:
# Polymorphism with function and methods
# Base Class
class Shape:
    def area(self):
        return "The area of the figure"

# Derived Class 1
class Rectangle(Shape):
    def __init__(self,width,height):
        self.width=width
        self.height=height
    
    def area(self):
        return self.width*self.height

# Derived Class 2
class Circle(Shape):
    def __init__(self,radius):
        self.radius=radius
    
    def area(self):
        return 3.14*self.radius*self.radius

# Function that demonstrates polymorphism
def print_area(shape):
    print(f"The area is {shape.area()}")

rectangle=Rectangle(4,5)
circle=Circle(3)

print_area(rectangle)
print_area(circle)

The area is 20
The area is 28.259999999999998

## Polymorphism with Abstract Base Class

In [174]:
from abc import ABC,abstractmethod
# Define Abstract Class
class Vehicle(ABC):
    @abstractmethod
    def start_engine(self):
        pass

# Derived Class 1
class Car(Vehicle):
    def start_engine(self):
        return "Car Engine Started"

# Derived Class 2
class MotorCycle(Vehicle):
    def start_engine():
        return "Motor Cycle engine started"

def start_vehicle(vehicle):
    print(vehicle.start_engine())

# Create Objects of Car and Motorcycle
car=Car()
motorcycle=MotorCycle()
start_vehicle(car)

Car Engine Started

# Encapsulation with Getter and Setter methods
* Public, Protected and Private Variables or Access Modifiers

In [177]:
class Person:
    def __init__(self,name,age):
        self.name=name # Public Variables
        self.age=age # Public Variables

def get_name(person):
    return person.name

person=Person("Vinay",31)
get_name(person)

'Vinay'

In [176]:
dir(person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'name']

In [185]:
class Person:
    def __init__(self,name,age,gender):
        self.__name=name # Private Variables
        self.__age=age # Private Variables
        self.gender=gender # Public Variable

def get_name(person):
    return person.__name

person=Person("Vinay",31,"Male")
get_name(person)

AttributeError: 'Person' object has no attribute '__name'

In [184]:
dir(person)

['_Person__age',
 '_Person__name',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'gender']

In [191]:
class Person:
    def __init__(self,name,age,gender):
        self._name=name # Protected Variables
        self._age=age # Protected Variables
        self.gender=gender # Public Variable

class Employee(Person):
    def __init__(self,name,age,gender):
        super().__init__(name,age,gender)

employee=Employee("Vinay",31,"Male")
print(employee._name)

Vinay

In [192]:
dir(employee)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_age',
 '_name',
 'gender']

## Encapsulation with GETTER and SETTER methods

In [194]:
class Person:
    def __init__(self,name,age,gender):
        self.__name=name # Private Variable/ Access Modifier
        self.__age=age # Private Variable/ Access Modifier
        self.__gender=gender # Private Variable/ Access Modifier
    
    # Getter Method for name
    def get_name(self):
        return self.__name
    
    # Setter Method for name
    def set_name(self,name):
        self.__name=name
    
        # Getter Method for age
    def get_age(self):
        return self.__age
    
    # Setter Method for Age
    def set_age(self,age):
        if age>0:
            self.__age=age
        else:
            print("Age cannot be negative.")

person=Person("Vinay",31,"Male")

# Access and Modify private variables using Getter and Setter methods
print(person.get_name())
print(person.get_age())
person.set_age(45)
print(person.get_age())
person.set_age(-1)

Vinay
31
45
Age cannot be negative.

# Abstraction

In [195]:
from abc import ABC,abstractmethod
# Define Abstract Base Class
class Vehicle(ABC):
    def drive(self):
        print("The vehicle is used for driving")
    
    @abstractmethod
    def start_engine(self):
        pass

class Car(Vehicle):
    def start_engine(self):
        print("Car engine started")

def operate_vehicle(vehicle):
    vehicle.start_engine()
    vehicle.drive()
    
car=Car()
operate_vehicle(car)

Car engine started
The vehicle is used for driving